.ideContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.toolbar {
    display: flex;
    height: 10%;
    width: 100%;
    font-size: large;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.codeBoxes {
    display: flex;
    width: 100%;
    height: 90%;
}

.editorContainer {
    width: 50%;
    height: 100%;
}

.iocontainer {
    width: 50%;
    height: 100%;
}

.iocontainer {
    display: flex;
    flex-direction: column;
}

.iocontainer textarea {
    width: 100%;
    flex-grow: 1;
    resize: none;
}